.container {
    height: 500px;
    width: 500px;
    background-color: grey;
    margin: 10px auto;
}

.square {
    background-color: black;
    display: inline-block;
    vertical-align: top;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.highlight {
    background-color: red;
}

